*{margin: 0; padding: 0;}

header{background-color: #9CB4CC; text-align: center; padding-top: 10px; padding-bottom: 10px; height: 250px; border-bottom: 10px; border-bottom-style: solid; border-bottom-color: #748DA6; }

.logo{border-radius: 110px; text-align: center; width: 200px; height: 200px; box-shadow: 0 0 15px black;}

nav{display: flex; flex-direction: row; justify-content: center; align-content:space-around; margin bottom: 10px;}

nav a{color: #086972; text-decoration: none; padding: 5px; height: 50px; height: 30px;}

nav a:hover{color: #748DA6; font-size: 15px;}

body{background-color: #FFDEDE;}

footer{width: 100%; height: 200px; background-color: #BAE5E5; margin-top: 30px;}

footer li {list-style: none; margin: 5px; margin-left: 10px; padding-top: 20px; text-decoration: none;}
li a{text-decoration: none; color: #086972; }
li a:hover{color: #748DA6; font-size: 15px;}

li img{border-radius: 5px;}

.card_piedatos{display:flex;flex-direction: row; justify-content: center;}

.card_piedatos li a:hover{font-size: 15px; text-decoration: underline;}

.card_piedatos img:hover{ width: 25px; height: 25px;}

.card__inicio{display: block; align-items: center;  margin-top: 40px; margin-left: 150px; margin-right: 200px; margin-bottom: 100px; background-color: #e7fdf1; height: 750px; border-radius:  0px; ; box-shadow: 0 0 15px black;}

.card__imagencarrusel{width: 100%; height: 550px;}

.card__avisosPrincipales{display: flex; flex-direction: row; justify-content: center;}

.card__inicioavisos{display: block; justify-content: center; text-align: center; width: 600px; height:280px; background-color: #e3f1e9; box-shadow: 0 0 15px black; margin: 40px; }

.iconos_inicio{width: 100px; height: 100px;}

h1{text-align: center; color: #086972;}

.card__inicioCategorias{display: flex; flex-direction: row; justify-content: center; padding: 10px; text-align: center;}

.imageninicio{ width: 250px; height: 250px; margin: 20px;}

.imageninicio:hover{filter: opacity(.5);}

.contenedorimginicio{position: relative;
    display: inline-block;
    text-align: center;}

    .centrado{font-size: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);}

.boton_comprar{background-color: #DAEAF1; border-radius: 5px; border-color: #677889; border-style: dotted; color:#413F42; width: 100px; height: 40px;}

.boton_comprar:hover{color: rgb(0, 0, 0); font-size: 17px; border-style: none;}

.card{display:inline-block ; box-shadow: 0 0 15px black; margin: 40px;}

.boton_carrito{width: 100px; height: 30px; margin-right: 0%; background-color: #748DA6; border-radius: 5px; border-style:double; border: #677889; color: #086972; font-size: 18px;  }

.boton_carrito:hover{font-size: 20px; color: #413F42;}

.modal-container{display: flex; flex-direction: column; width: 200px; height: 200px;}

.card_contacto{display: inline-block; justify-content: center; align-items: center; flex-direction: column; text-align:justify; width: 500px ; height: 500px; background-color:#c4d1dd; margin-left: 35%; padding: 20px; border-style:dashed; color: #677889; border-color: rgb(237, 237, 15);}

.producto{ 
    display: inline-block;
    align-items: center;
    max-width: 20%;
    padding:10px ;
    margin: 10px;
    margin-bottom: 20px;
    box-shadow: 2px 3px 3px 3px rgb(0, 0, 0);
    background-color: white;
    
}

.producto img{ width: 220px; height:  200px;}



#contenedor-productos {
    max-width: 1200px;
    margin: 60px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

p {
    line-height: 1.8;
}

.precioProducto {
    font-weight: 700;
}
.boton-agregar {
    background-color:#9CB4CC;
    color:#086972;
    font-size: 18px;
    font-weight: 600;
    padding: 5px;
    border: solid 1px;
    border-radius: 10px;
    margin: 5px;
}

.boton-agregar:hover {
    cursor: pointer; border: none; font-size: 20px;
}
.boton-agregar:focus {
    outline: none;
}

.modal-contenedor {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}

.modal-active {
    opacity: 1;
    visibility: visible;
}

.modal-carrito {
    position: relative;
    background-color: white;
    min-width: 500px;
    padding: 20px;
    margin-top: -100%;
    transition: all .5s;
}

.modal-active .modal-carrito {
    margin-top: 0;
}

.modal-carrito h3 {
    color: royalblue;
    padding-bottom: 5px;
}
.modal-carrito #carritoCerrar {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: royalblue;
    border: none;
    background-color: white;
}
.modal-carrito #carritoCerrar:hover {
    cursor: pointer;
}
.modal-carrito #carritoCerrar:focus {
    outline: none;
}
.modal-carrito .precioProducto {
    padding-top: 10px;
    
}

.productoEnCarrito {
    border-left: 5px solid lightblue;
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
    margin: 5px 0;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}
.productoEnCarrito:hover {
    border-left: 8px solid royalblue;
    
}

.boton-eliminar {
    background-color: white;
    color: red;
    border: none;
    font-size: 20px;
}

.boton-eliminar:hover {
    cursor: pointer;
}
.boton-eliminar:focus {
    outline: none;
}

.card_carrito{width:600px ; height:600px
     ; display: block; background-color: #c4d1dd; overflow: scroll; margin-left: 30%;}